@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #1f2937;
  background-color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}
